<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What is this?</h3>
    <p>
       Talk to people going to Codedays outside your city
    </p>
    <br>
    <h3>Legal</h3>
    <p>
      This web application is protected by a MIT software License
    </p>
    <br>
    <a target="_blank" href="https://gist.githubusercontent.com/shreyas-n/b6ffcc994b516ce72641d77363b0a926/raw/51e16014b565d0f634f0b9dc07c8f510ae333f8e/LISENCE" class="btn btn-primary">
      <%= fa_icon 'book' %> License Information
    </a>
  </div>
</div>
